body{
    display: inline-block;
    align-content: center;
    /* background-color: antiquewhite; */
    /* background: url("google-newtab/img/mountain.jpg") fixed; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(202,202,218,1) 34%, rgba(177,203,223,1) 42%, rgba(165,204,225,1) 46%, rgba(116,234,163,1) 62%, rgba(0,212,255,1) 100%);
    color: white;
    
}
.body-part {
    display: flex;
    justify-content: center;
    align-content: center;
}
h1, h2{
    align-content: center;
}
.txt {
    /* display: flex;
    justify-content: center; */
    font-size: 50px;
}